---
import {Image} from 'astro:assets';
import {getImages} from "../../utils";
export async function getStaticPaths() {

    const images = await getImages();

    return images.map((image, n) => (
        {
            params: {id: n + 1}, props: {
                image,
                current: n,
                total: images.length,
            }
        }
    ));
}

const {image, current, total} = Astro.props;
---

<body class="bg-[url('/src/assets/main_bg.jpg')] bg-top bg-[#161514] bg-no-repeat flex justify-center">
<div class="max-w-5xl pt-28">
    <a href={"/pages/" + (current + 2)}>
        <Image src={image} alt="Comic Page"/>
    </a>
</div>
</body>